*.a
*.la
*.lo
*.o
*.pc
*.spec
.libs
.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
*/autotools/ltmain.sh
config.cache
config.h
config.log
config.status
configure
libmikmod-config
libmikmod-config.1
libtool
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
mikmod.exe
mikmod.info
stamp-h1
